<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SystemInfo.UserSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SystemInfo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <SystemInfo.UserSettings>
            <setting name="activeLang" serializeAs="String">
                <value>en_us</value>
            </setting>
        </SystemInfo.UserSettings>
    </applicationSettings>
    <userSettings>
        <SystemInfo.Properties.Settings>
            <setting name="activeLang" serializeAs="String">
                <value />
            </setting>
            <setting name="startUpSound" serializeAs="String">
                <value />
            </setting>
        </SystemInfo.Properties.Settings>
    </userSettings>
</configuration>